{% extends _layout %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Projet SI & BD</h2>
    <br>
    <h4>Simulation d'élevage de chevaux</h4>
    <p>
        Ceci est une interface d'administration pour un jeu Web de simulation d’élevage de chevaux.
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h5>Auteurs</h5>
    <p>Linda Gutierrez - Charles-Henri Carlier - Kenny Coadalen.</p>
{% endblock %}