{% extends _layout %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>TP de Data Mining</h2>
    <br>
    <h4>Fouille de données</h4>
    <p>
        Réalisation d'un diagnostique médical sur un patient avec prédiction de la maladie
        selon ses symptômes. Simulation basée sur l'algorithme de Bayes.
    </p>
    <br>
    <h4>Objets Skylines</h4>
    <p>Détermination des objets skylines pour une liste de voitures données.</p>
    <br>
    <br>
    <h5>Auteurs</h5>
    <p>Cassian Assael - Charles-Henri Carlier - Kenny Coadalen - Jonathan Corral.</p>
{% endblock %}